<section class="container cadastro mat-elevation-z20 py-4">
  <h1 class="py-3 text-center">Editar Funcionária(o) {{funcionario.func_nome}}
  </h1>
  <form #form="ngForm">
    <div class="inputs">
      <div class="">
        <mat-form-field appearance="outline" class="py-2">
          <mat-label>Nome do Funcionário</mat-label>
          <input matInput type="text" [(ngModel)]="funcionario.func_nome" name="func_nome" #func_nome="ngModel" required
            minlength="3" id="func_nome" placeholder="Digite o nome do funcionário">
          <mat-error *ngIf="!func_nome.valid && func_nome.touched" class=""> Nome do cargo é obrigatório.</mat-error>
          <mat-error *ngIf="func_nome.errors?.['minlength']" class=""> Nome tem que ter ao menos 3 caracteres.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="">
        <mat-form-field appearance="outline" class="py-2">
          <mat-label>Cidade do funcionário</mat-label>
          <input matInput type="text" [(ngModel)]="funcionario.func_cidade" name="func_cidade" #func_cidade="ngModel"
            id="func_nome" required minlength="3" placeholder="Digite a cidade do funcionário">
          <mat-error *ngIf="!func_cidade.valid && func_nome.touched" class=""> Nome do cargo é obrigatório.</mat-error>
          <mat-error *ngIf="func_cidade.errors?.['minlength']" class=""> Cidade do funcionário tem que ter ao menos 3
            caracteres.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="botoes">
        <button mat-raised-button routerLink="/funcionarios/comCargo" class="btn-cancelar m-2">Cancelar</button>

        <label class="custom-file-upload mat-raised-button btn-cancelar">
          <input class="form-control type-file-estilo" type="file" id="formFile" type="file"
            [disabled]="!funcionarioEditado" (change)="subirFoto($event)" name="func_foto"
            matTooltip="Adicione uma foto ao funcionário" matTooltipClass="matTooltip"
            placeholder="Adicione uma foto ao funcionário">
          <span><i class="fa fa-cloud-upload"></i> <small class="ms-2">Adicionar foto</small></span>
        </label>

        <button mat-raised-button color="accent" class="btn-salvar m-2" [disabled]="!form.form.valid"
          (click)="editarFuncionario()">Editar</button>
      </div>
    </div>
  </form>
</section>
